{% include 'view/header.html' %}
<body>
<script>
    $(document).ready(function() { 
        $('#guessForm').ajaxForm(function(data) { 
            $('#guesses').html(data);
            $('#guessValue').val("");
        }); 
    }); 
</script>
<div class="container">
    {% include 'view/guess_ajax.html' %}

    <form action="/guess" method="post" id="guessForm">
        <input type="hidden" name="game_id" value={{game_id}}>
        <input type="text" name="guess" id="guessValue">
        <div class="row">
            <input type="submit" value="Guess" id="submit" class="btn btn-default">
            <a class="btn btn-default" href="/">Back</a>
        </div>
    </form>

</div>

</body>
</html>
