{% include 'view/header.html' %}
<body>
<script>
    $(document).ready(function() { 
        $('#guessForm').ajaxForm(function(data) { 
            $('#guesses').html(data);
            $('#guessValue').val("");
        });
    });
</script>
{% include 'view/jumbotron.html' %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4 col-xs-offset-6 col-md-offset-4">
            <div id="is-solved">
            {% if is_solved %}
                <h2 class="text-center"> This game is solved. </h2>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="row" id="guesses">
        {% include 'view/guess_ajax.html' %}
    </div>

        <div class="row">
            <div class="col-xs-4 col-md-2 col-xs-offset-7 col-md-offset-5">
                <form action="/guess" method="post" id="guessForm">
                    <input type="hidden" name="game_id" value={{game_id}}>

                    <div class="form-group">
                        <label for="guessValue">Your Guess:</label>
                        <input type="text" class="form-control" name="guess" required aria-required=”true” pattern="[0-9]{4}" id="guessValue" title="0000-9999" placeholder="9999">
                    </div>

                    <button type="submit" id="submit" class="btn btn-primary" {% if is_solved %} disabled {% endif %}>Guess</button>
                    <a class="btn btn-default" href="/">Back</a>

                </form>
            </div>
        </div>
</div>

</body>
</html>
