{% if guesses %}
    <div class="col-xs-12 col-md-8 col-xs-offset-3 col-md-offset-2">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">Previous Guess</th>
                <th class="text-center">On the Spot</th>
                <th class="text-center">Off Positioned</th>
                <th class="text-center">User</th>
            </tr>
        </thead>
        <tbody>
        {% for guess in guesses %}
            <tr>
                <td class="text-center">{{ guess.guess_num }}</td>
                <td class="text-center">{{ guess.aligned }}</td>
                <td class="text-center">{{ guess.not_aligned }}</td>
                <td class="text-center">{{ guess.user_id}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% if is_solved %}
    <script> 
        var game_solved_msg = "<h2 class=\"text-center\"> This game is solved. </h2>";
        $('#is-solved').html(game_solved_msg);
        $('#submit').prop('disabled', true);
    </script>
    {% endif %}
{% endif %}
