<div class="jumbotron">
  <div class="container">
    <div class="col-xs-12 col-md-8 col-xs-offset-3 col-md-offset-2">
      <h1 class="display3">4 Digits</h1>
      <p class="lead">Your goal of this game is to guess a four digit secret number.</p>
      <p class="lead">Each time you guess, you know how many digits are exactly 
        correct, and how many digits are off positioned.</p>
      <p class="lead">Please keep in mind, one single digit number could show up multiple times in a secret. For example, 1122 might be the answer and you only get 1 on the spot as response if you guess 1345.</p>
    </div>
  </div>
</div>
